<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" package="com.aliyun.openservices.log.log4j2">
    <Appenders>

        <!-- logging to console -->
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss} %nano [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <!-- logging to aliyun log service -->
        <Loghub name="loghubAppender1"
                project="${env:project}"
                logStore="${env:logStore}"
                endpoint="${env:endpoint}"
                accessKeyId="${env:accessKeyId}"
                accessKeySecret="${env:accessKeySecret}"
                totalSizeInBytes="104857600"
                maxBlockMs="0"
                ioThreadCount="4"
                batchSizeThresholdInBytes="524288"
                batchCountThreshold="4096"
                lingerMs="2000"
                retries="4"
                baseRetryBackoffMs="100"
                maxRetryBackoffMs="1000"
                topic=""
                source=""
                timeFormat="yyyy-MM-dd'T'HH:mm:ssZ"
                timeZone="UTC"
                ignoreExceptions="true"
                timeResolution="secs">
        </Loghub>
    </Appenders>
    <Loggers>
        <Root level="DEBUG">
            <AppenderRef ref="loghubAppender1" level="INFO"/>
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>
</Configuration>